input[type="text"]{
    border: 2px solid crimson;
}
input[type="password"]{
    border: 2px solid coral;
}
ul>li{
    color: chocolate;
}
h1+p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:hover{
    font-size: 50px;
    color: blanchedalmond;
}

li:nth-child(3){
    background-color: antiquewhite ;
}

h1::before{
    content: "😰";
}

h1::after{
    content: "👽";
}

p::first-letter{
    color: brown;
    font-size: 60px;
}